/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Wix Madefor Display', sans-serif !important;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

.navbar {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 12px 120px;
}

.nav_content ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_content ul li {
  margin: 0px 30px;
  list-style: none;
}

.nav_content ul li a {
  color: #404040;
  font-weight: 400 !important;
  font-size: 15px;
  text-decoration: none;
  opacity: .9;
}

.nav_content ul button {
  border: 1px solid #3464FD;
  width: 145px;
  height: 52px;
  cursor: pointer;
  border-radius: 30px;
  color: #3464FD;
  font-size: 16px;
  /* font-family: 'Inter', sans-serif !important; */
  font-weight: 500 !important;
  text-transform: uppercase;
  background-color: #F4FAFE;
}

.banner_home {
  background-image: url('../public/images/testing.png');
  height: 776px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  /* padding-bottom: 60px; */
}

.banner_sect {
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 40px 120px;
}

.banner_left {
  /* margin-top: 150px; */
  position: absolute;
  top: 23%;
}

.banner_left h2 {
  color: #FFFFFF;
  font-weight: 800 !important;
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  line-height: 80px;
  font-family: 'Wix Madefor Display', sans-serif;
}

.banner_left .syn {
  font-weight: bold !important;
  background-color: #3464FD;
  /* border-radius: 3px; */
  padding: 10px 8px;
}
.btn_home button{
  background-color: #F4FAFE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 22px;
  border-radius: 30px;
  color: #3464FD;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #3464FD;
  opacity: 90%;
  margin-top: 30px;
}
.btn_home svg{
  margin: 0px 5px;
}
.banner_con {
  position: absolute;
  bottom: 80px;
  width: 100%;
  margin: auto;
}

.banner_content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.banner_content p {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

.banner_content button {
  border: 1px solid #FFFFFF;
  background-color: #0066CB;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  width: 250px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  margin-top: 20px;
}
.banner_sect P{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400 !important;
  margin: 12px 0px;
  font-family: 'Wix Madefor Display', sans-serif !important;
}
.mting{
  margin-top: 15px;
}
/* .about_section {
  background: linear-gradient(180deg, #151332 0%, #1D193E 50.52%, #151229 100%);
  padding: 40px 120px;
}
.abin {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.about_img {
  display: block;
  margin: auto;
  max-width: 580px;
  width: 100%;
}

.about_sect_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_lines {
  display: flex;
  width: 50%;
}

.about_lines img {
  width: 100%;
  margin-right: 20px;
}

.about_sect_left {
  margin-right: 40px;
  width: 50%;
}

.about_sect_right {
  margin-left: 40px;
  width: 50%;
}

.about_lines1 button {
  background-color: #0066CB;
  width: 110px;
  height: 44px;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
}

.about_lines1 h1 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  margin-top: 20px;
}

.about_lines1 p {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
} */

.about_section{
  background-image: url('../public/images/aboutsec.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  padding: 60px 120px;
  padding-bottom: 180px;
}
.about_mai{
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
}
.about_icon svg{
  display: block;
  margin: auto;
}
.about_content p{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  line-height: 46px;
  width: 15.5em;
  display: block;
  margin: auto;
  margin-top: 140px;
}
.about_btn button{
  display: block;
  margin: auto;
  padding: 14px 22px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 90%;
  margin-top: 30px;
}
.about_btn svg{
  margin: 0px 7px;
}
/* .service_home {
  background-image: url('../public/images/imgtier.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 60px 120px;
}

.service_main_home {
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
}

.service_main_home h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 34px;
  text-align: center;
  margin-top: 50px;
}

.service_main_flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.service1 {
  margin: 0px 10px;
}

.service2 {
  margin: 0px 10px;
}
.service3 {
  margin: 0px 10px;
}

.img_ser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_service {
  max-width: 416px;
  width: 100%;
}

.box_service h3 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 34px;
  margin-top: 20px;
}

.box_service p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  margin-top: 30px;
}

.frame1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

.img_ser {
  margin-top: 50px;
}

.box_service1 {
  margin-top: 180px;
}

.box_service2 {
  margin-top: 190px;
}

.img_ser1 svg {
  margin: 0px 15px;
}

.service_main_home span {
  background-color: #0066CB;
  padding: 6px 10px;
  border-radius: 3px;
} */

/* =============sercice_home start============ */
.service_hone{
  background-image: url('../public/images/advisory.png');
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  width: 100%;
  padding: 70px 120px;
  /* height: 100vh; */
}
.main_hone{
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
}
.sell{
  display: flex;
  align-items: center;
}
.sell h3{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.sell svg{
  margin-left: 20px;
  margin-top: 13px;
}
.sell_para {
  margin-top: 30px;
}
.sell_para p{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 48px;
}
.st{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.small_para p{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400 !important;
  margin: 10px 0px;
  opacity: .95;
}
.service_hone_main{
  margin-top: 70px;
}
.service_flex_main{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hone_box{
  width: 100%;
}
.hone_box h3{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 48px;
  margin-top: 4px;
}
.stratic_flex{
  display: flex;
  align-items: center;
  margin: 27px 0px;
}
.stratic_flex p{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
  opacity: .95;
}
.stratic_flex svg{
  margin-left: 10px;
}
.mty{
  margin-top: 40px;
}
.static_flex1 p{
   line-height: 32px;
}
.see_all{
  border: 1px solid #3464FD;
  width: 104px;
  height: 52px;
  padding: 14px, 20px, 14px, 20px;
  border-radius: 30px;
  cursor: pointer;
  color: #3464FD;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-top: 30px;
}
/* ==================service_home end=================== */

.why_digital {
  /* background: linear-gradient(131.65deg, #0E0726 25.19%, #2F559E 109.98%); */
  background-image: url('../public/images/whydigi.png');
  background-position: center;
  background-size: cover;
  padding: 60px 120px;
  background-repeat: no-repeat;
}

.why_dig_home {
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
}

.test {
  width: 230px;
  max-width: 100%;
  margin-top: 10px;
}

.digi_box {
  margin: 60px 0px;
}

.digi_box h3 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
}

.digi_box p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
}

.digi_flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.why_dig_home h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 34px;
  text-align: center;
  margin-top: 55px;
}

.why_dig_home span {
  background-color: #0066CB;
  padding: 6px 10px;
  border-radius: 3px;
}


.work_home{
  background-image: url('../public/images/work.png');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  width: 100%;
  padding: 60px 120px;
  padding-bottom: 80px !important;
}
.work_main{
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
}
.work_main h2{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 34px;
  text-align: center;
  margin-top: 55px;
}
.work_main span{
  background-color: #0066CB;
  padding: 6px 10px;
  border-radius: 3px;
}
.img_sert{
  width: 100%;
}
.img_sert img{
  max-width: 476px !important;
  width: 100% !important;
}
.work_flag{
  margin-top: 100px;
}
.box_service1 .view{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  width: 280px;
  max-width: 100%;
  /* display: block; */
  margin-top: 30px;
  border-bottom: 1px solid #FFFFFF;
  /* width: 100%; */
}
.box_service3{
  margin-top: 270px;
}
.img_sert1{
  margin-top: 270px;
}
.blog_btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_btn button{
  border: 1px solid #FFFFFF;
  max-width: 250px;
  width: 100%;
  height: 65px;
  background-color: #0066CB;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-top: 70px;
  font-size: 20px;
  font-weight: 400;
}
.blog_home{
  background-image: url('../public/images/uk.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 120px;
  padding-bottom: 100px;
}
.blog_home_flex{
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
}
.blog_flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.blog_flex h2{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 44px;
}
.blog_flex button{
  max-width: 250px;
  width: 100%;
  height: 65px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #0066CB;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
}
.blog_flex button span{
  margin-right: 5px;
}
.digital_card{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.digital_box{
  width: 100%;
  margin: 0px 12px;
}
.digital_img img{
  width: 100%;
}
.digital_content{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.digital_content hr{
  width: 35px;
  border: 1px solid #84878D;
  color: #84878D;
  background-color: #84878D;
}
.digital_content h5{
  color: #787C82;
  font-weight: 400;
  font-size: 14px;
  margin: 0px 5px;
}
.digital_content div{
  width: 4px;
  height: 4px;
  background-color: #84878D;
  border-radius: 50%;
}
.digital_para{
  margin-left: 40px;
  margin-top: 12px;
}
.digital_para p{
  color: #FCFCFC;
  font-weight: 500;
  font-size: 24px;
}
.digital_card .splide__slide{
  margin: 0px 12px !important;
}
 .splide__arrow--prev{
  right: 100px !important;
  left: initial !important;
}
.splide__arrow{
  position: relative;
  top: 500px !important;
  background-color: transparent !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  border: 1px solid #FFFFFF !important;
}
.splide__arrow:hover{
  background-color: #FFFFFF !important;
  opacity: 50% !important;
  transition: .5s !important;
}
.splide__arrow:hover svg{
  color: #84878D !important;
  fill: #84878D !important;
  transition: .5s !important;
}
.splide__arrow--prev svg{
  fill: white !important;
}
.splide__arrow--next svg{
  fill: white !important;
}
.contact_main{
  background-image: url('../public/images/contact.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* background-position: center; */
  padding: 60px 120px;
}
.contact_home{
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
  
}
.conatct_home_flex{
  background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
}
.contact_left{
  width: 44%;
}
.contact_in_box{
  background-color: #1A2C52;
  padding: 40px 30px;
  border-left: 5px solid #32B5FB;
  padding-bottom: 115px;
  border-radius: 7px;
}
.contact_in_box h3{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
}
.contact_in_box .say{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}
.saying_box{
  display: flex;
  align-items: flex-start;
}
.say_right p{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  margin-left: 15px;
}
.saying_box{
  margin: 30px 0px;
}
.social_link{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.social_link svg{
  margin-right: 30px;
}
.contact_right{
  width: 56%;
}
.conatct_home_flex{
  display: flex;
  align-items: flex-start;
}
.contact_input input{
  width: 100% !important;
  border-bottom: 2px solid #C6C6C6;
  outline: none;
  color: #060E12 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  opacity: 80% !important;
}
.contact_input select{
  width: 100% !important;
  border-bottom: 2px solid #C6C6C6;
  outline: none;
  color: #060E12 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  opacity: 80% !important;
}
.contact_form{
  padding: 0px 20px;
}
.w-tier{
  margin: 20px 15px;
}
.w-tier label{
  color: #060E12 !important;
  opacity: 80% !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.ting{
  margin: 0px 15px;
}
.contact_btn{
  margin: 0px 15px;
  margin-top: 30px;
}
.contact_btn button{
  width: 161px;
  height: 44px;
  background-color: #0066CB;
  max-width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_btn button span{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
}
.contact_btn button svg{
  margin: 0px 6px;
}
.ting label{
  color: #060E12 !important;
  opacity: 70% !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.contact_form h3{
  color: #060E12;
  opacity: 80%;
  font-size: 34px;
  font-weight: 500;
  line-height: 44px;
}
.w-tier1 label{
  position: relative;
  top: 10px;
}



/* ====================work css start============= */
  .work_here{
    background-image: url('../public/images/ourWork.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 60px 120px;
  }
  .work_man{
    max-width: 1440px;
    width: 100%;
    display: block;
    margin: auto;
  }
/* ===================work css end=============== */


.footer_main{
  position: relative;
  z-index: 2;
  padding: 60px 120px;
  background-color: #0d0d0d;
  padding-bottom: 40px !important;
}
.splide__pagination{
  bottom: -2em !important;
}
/* .footer_main::before{
  padding: 0px 120px;
  position: absolute;
  opacity: 95%;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
} */
.foot{
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: auto;
}
.footer_flex1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.foot_content h4{
  color: white;
}
.foot_content p{
  color: white;
}
.foot1{
  display: flex;
  align-items: center;
}
.foot_content{
  margin-left: 22px;
}
.foot_content h4{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
}
.foot_content p{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  opacity: 80%;
  margin-top: 12px;
}
.hr_foot{
  margin-top: 90px;
}
.hr_foot .line6{
  border-bottom: .5px solid #FFFFFF;
  /* color: white; */
  opacity: 50%;
}
.foot2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.foot21 p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
}
.foot22{
  display: flex;
  align-items: center;
}
.foot22 p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 30px;
  opacity: 80%;
}
.foot23{
  display: flex;
  align-items: center;
}
.foot23 svg{
  margin: 0px 15px;
}